<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <script src="js/scripts.js"></script>
    <header>
        <h1>Saliency map</h1>
        <img src="../{{ image }}" alt="cls_img" height="64" width="64"> 
        <img src="../{{ saliency_map }}" alt="sal_map" height="64" width="64"> 
    </header>


</body>
</html>